# PHP cache files
*.php~
*.swp
*.swo



# Logs
*.log
logs/

# IDE/Editor-specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS-specific files
.DS_Store
Thumbs.db


# Docker-related files
docker-compose.override.yml
docker-compose.dev.yml
docker-compose.prod.yml


# Environment files
.env
.env.docker 
# Composer dependencies
/vendor/



